{
  "openapi": "3.0.1",
  "info": {
    "title": "BinaryLane API",
    "description": "\n\n# Introduction\n\nThis API is used by BinaryLane's 'mPanel' website, so you'll find everything you need here to automate your use of BinaryLane or develop tools for others. You could even build your own version of 'mPanel' if you wanted!\n\n\n## Getting Started Guide\n\nWe are working on a complete 'Getting Started' guide as well as this introductory section.\n\n\n# Developer Preview Notes\n\n**Warning: this specification is currently in active development.** Until this warning is removed breaking changes are possible without the version changing.\nHowever, this API is relatively mature and we are actively developing a new website and other tools against this API so breaking changes should be rare at this point.\n\nWe currently have a CLI (command line interface) tool in development and are in the early stage of planning other tools.\n\nWe welcome all feedback from API users at the support email address above.\n\n\n## Active Development Status\n\nThis is the list of BinaryLane features that are not yet available through the API but are currently under active development.\nIf you need an ETA on when these will be available please contact support.\n\n- Domains\n\n\n## Future Development Status\n\nThis is the list of BinaryLane features that are not yet available through the API and are not currently in active development. This list is in a rough order of priority.\nIf you need an ETA or want to ask for increased priority on any of these please contact support, we are happy to hear any feedback on this.\n\n- Account Updates\n- Payments\n\n\n\n# API Tools\n\nThis section will include links to tools to assist with consuming this API. We have a CLI tool and a GO library in active development, and are planning libraries for other languages.\n\n\n# Version Information\n\nThis section will contain a link to our changelog once the developer preview period is complete.\n\n",
    "contact": {
      "name": "BinaryLane Support",
      "url": "https://support.binarylane.com.au",
      "email": "support@binarylane.com.au"
    },
    "version": "0.25.0",
    "x-logo": {
      "url": "https://www.binarylane.com.au/res/images/binarylane/logo.png",
      "backgroundColor": "#000000",
      "altText": "BinaryLane Logo",
      "href": "https://www.binarylane.com.au"
    }
  },
  "servers": [
    {
      "url": "https://api.binarylane.com.au/v2"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Fetch Information About the Current Account",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/account\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "account get"
      }
    },
    "/actions/{action_id}": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Fetch an Existing Action",
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "description": "The ID of the action to fetch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/actions/${action_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "action get"
      }
    },
    "/actions": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "List All Actions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/actions?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "action list"
      }
    },
    "/actions/{action_id}/proceed": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Respond to a UserInteractionRequired Action",
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "description": "The ID of the action for which this is a response.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ProceedRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/actions/${action_id}/proceed\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "action proceed"
      }
    },
    "/customers/my/balance": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Fetch Current Balance Information",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/customers/my/balance\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "account balance"
      }
    },
    "/customers/my/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Fetch an Invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the invoice to fetch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/customers/my/invoices/${invoice_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "account invoice get"
      }
    },
    "/customers/my/invoices": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Fetch Invoices",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/customers/my/invoices?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "account invoice list"
      }
    },
    "/customers/my/unpaid-payment-failed-invoices": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Fetch Unpaid Failed Invoices",
        "description": "Any invoices that are unpaid and have a failed payment attempt may block the ability to renew existing services or add new services.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnpaidFailedInvoicesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/customers/my/unpaid-payment-failed-invoices\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "account invoice overdue"
      }
    },
    "/data_usages/{server_id}/current": {
      "get": {
        "tags": [
          "DataUsages"
        ],
        "summary": "Fetch the Current Data Usage (Transfer) for a Server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "The target server id.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The target server id.",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataUsageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/data_usages/${server_id}/current\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "server data-usage get"
      }
    },
    "/data_usages/current": {
      "get": {
        "tags": [
          "DataUsages"
        ],
        "summary": "Fetch all Current Data Usage (Transfer) for All Servers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataUsagesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/data_usages/current?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "server data-usage list"
      }
    },
    "/domains/nameservers": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List All Public Nameservers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalNameserversResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/domains/nameservers\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "domain nameservers list"
      }
    },
    "/domains/refresh_nameserver_cache": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Refresh Cached Nameserver Domain Records",
        "description": "The nameservers for domains are cached. If you have recently altered the nameservers for a managed domain you may need to refresh the cached domain records.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/domains/refresh_nameserver_cache\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "domain refresh-nameserver-cache"
      }
    },
    "/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List All Domains",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/domains?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "domain list"
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create a New Domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DomainRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/domains\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "domain create"
      }
    },
    "/domains/{domain_name}": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Fetch an Existing Domain",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "The name or domain ID of the domain to fetch.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ],
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/domains/${domain_name}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "domain get"
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete an Existing Domain",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "The name or domain ID of the domain to delete.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ],
              "example": 5
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X DELETE \"https://api.binarylane.com.au/v2/domains/${domain_name}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "domain delete"
      }
    },
    "/domains/{domain_name}/records": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List All Domain Records for a Domain",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "The domain name or domain ID for for which records should be listed.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ],
              "example": 5
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "\n| Value | Description |\n| ----- | ----------- |\n| A | Map an IPv4 address to a hostname. |\n| AAAA | Map an IPv6 address to a hostname. |\n| CAA | Restrict which certificate authorities are permitted to issue certificates for a domain. |\n| CNAME | Define an alias for your canonical hostname. |\n| MX | Define the mail exchanges that handle mail for the domain. |\n| NS | Define the nameservers that manage the domain. |\n| SOA | The Start of Authority record for the zone. |\n| SRV | Specify a server by hostname and port to handle a service or services. |\n| TXT | Define a string of text that is associated with a hostname. |\n\n",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DomainRecordType"
                }
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Only return records for this subdomain name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainRecordsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/domains/${domain_name}/records?type=${type}&name=${name}&page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "domain record list"
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create a New Domain Record",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "The domain name or domain ID for for which the record should be created.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ],
              "example": 5
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DomainRecordRequest"
                  }
                ],
                "description": "If this is used to update an existing DomainRecord any values not provided will be retained. Provide empty strings to clear existing string values, nulls to retain the existing values."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainRecordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/domains/${domain_name}/records\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "domain record create"
      }
    },
    "/domains/{domain_name}/records/{record_id}": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Fetch an Existing Domain Record",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "The domain name or domain ID for for which the record should be fetched.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ],
              "example": 5
            }
          },
          {
            "name": "record_id",
            "in": "path",
            "description": "The ID of the record to fetch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainRecordResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/domains/${domain_name}/records/${record_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "domain record get"
      },
      "put": {
        "tags": [
          "Domains"
        ],
        "summary": "Update an Existing Domain Record",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "The domain name or domain ID for for which the record should be updated.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ],
              "example": 5
            }
          },
          {
            "name": "record_id",
            "in": "path",
            "description": "The ID of the record to update.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DomainRecordRequest"
                  }
                ],
                "description": "If this is used to update an existing DomainRecord any values not provided will be retained. Provide empty strings to clear existing string values, nulls to retain the existing values."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainRecordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X PUT \"https://api.binarylane.com.au/v2/domains/${domain_name}/records/${record_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "domain record update"
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete an Existing Domain Record",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "The domain name or domain ID for which the record should be deleted.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ],
              "example": 5
            }
          },
          {
            "name": "record_id",
            "in": "path",
            "description": "The ID of the record to delete.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X DELETE \"https://api.binarylane.com.au/v2/domains/${domain_name}/records/${record_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "domain record delete"
      }
    },
    "/failover_ips/{server_id}": {
      "get": {
        "tags": [
          "FailoverIps"
        ],
        "summary": "Fetch the Failover IPs for a Server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "The target server id.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The target server id.",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailoverIpsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/failover_ips/${server_id}?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "server failover-ip get"
      },
      "post": {
        "tags": [
          "FailoverIps"
        ],
        "summary": "Sets the List of Failover IPs that are Assigned to a Server",
        "description": "This overwrites the current list, i.e. submit the entire list, not just updates.\nIf NoContent is returned no changes were made.\nIf an action is returned the changes have been saved but the effect may not be complete until the action is complete. If the action does not complete the network changes can be forced by rebooting the server.",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "The target server id.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The target server id.",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FailoverIpsRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/failover_ips/${server_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "server failover-ip update"
      }
    },
    "/failover_ips/{server_id}/available": {
      "get": {
        "tags": [
          "FailoverIps"
        ],
        "summary": "Fetch a List of all Failover IPs that are Available to be Assigned to a Server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "The target server id.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The target server id.",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailoverIpsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/failover_ips/${server_id}/available?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "server failover-ip available"
      }
    },
    "/images": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "List All Images",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Queries for distribution will include images that have pre-installed applications.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ImageQueryType"
                }
              ]
            }
          },
          {
            "name": "private",
            "in": "query",
            "description": "Provide 'true' to only list private images. 'false' has no effect.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/images?type=${type}&private=${private}&page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "image list"
      }
    },
    "/images/{image_id_or_slug}": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Fetch an Existing Image",
        "parameters": [
          {
            "name": "image_id_or_slug",
            "in": "path",
            "description": "The ID or Slug (if an operating system) of the image to retrieve.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ],
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/images/${image_id_or_slug}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "image get"
      }
    },
    "/images/{image_id}/download": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Download an Existing Image",
        "description": "Only user created backup images are currently available for download.",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "The ID of the image to download.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageDownloadResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/images/${image_id}/download\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "image download"
      }
    },
    "/account/keys/{key_id}": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "Fetch an Existing SSH Key",
        "description": "The key_id may be either the Id or the key fingerprint.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "The ID or fingerprint of the SSH Key to fetch.",
            "required": true,
            "schema": {
              "example": 5,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/account/keys/${key_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "ssh-key get"
      },
      "put": {
        "tags": [
          "Keys"
        ],
        "summary": "Update an Existing SSH Key",
        "description": "The key_id may be either the Id or the key fingerprint.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "The ID or fingerprint of the SSH Key to update.",
            "required": true,
            "schema": {
              "example": 5,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateSshKeyRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X PUT \"https://api.binarylane.com.au/v2/account/keys/${key_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "ssh-key update"
      },
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Delete an Existing SSH Key",
        "description": "The key_id may be either the Id or the key fingerprint.",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "The ID or fingerprint of the SSH Key to delete.",
            "required": true,
            "schema": {
              "example": 5,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X DELETE \"https://api.binarylane.com.au/v2/account/keys/${key_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "ssh-key delete"
      }
    },
    "/account/keys": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List All SSH Keys",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKeysResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/account/keys?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "ssh-key list"
      },
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Add a New SSH Key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SshKeyRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/account/keys\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "ssh-key create"
      }
    },
    "/load_balancers/{load_balancer_id}": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "Fetch an Existing Load Balancer",
        "parameters": [
          {
            "name": "load_balancer_id",
            "in": "path",
            "description": "The ID of the load balancer to fetch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadBalancerResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/load_balancers/${load_balancer_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "load-balancer get"
      },
      "put": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "Update an Existing Load Balancer",
        "description": "Any existing settings or servers that are not included will revert to default values.",
        "parameters": [
          {
            "name": "load_balancer_id",
            "in": "path",
            "description": "The ID of the load balancer to update.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateLoadBalancerRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoadBalancerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X PUT \"https://api.binarylane.com.au/v2/load_balancers/${load_balancer_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "load-balancer update"
      },
      "delete": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "Cancel an Existing Load Balancer",
        "parameters": [
          {
            "name": "load_balancer_id",
            "in": "path",
            "description": "The ID of the load balancer to cancel.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X DELETE \"https://api.binarylane.com.au/v2/load_balancers/${load_balancer_id}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "load-balancer delete"
      }
    },
    "/load_balancers": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "List all Load Balancers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadBalancersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/load_balancers?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "load-balancer list"
      },
      "post": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "Create a New Load Balancer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateLoadBalancerRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoadBalancerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/load_balancers\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "load-balancer create"
      }
    },
    "/load_balancers/availability": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "Fetch Load Balancer Availability and Pricing",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadBalancerAvailabilityResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/load_balancers/availability\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "load-balancer availability"
      }
    },
    "/load_balancers/{load_balancer_id}/servers": {
      "post": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "Add Servers to an Existing Load Balancer",
        "parameters": [
          {
            "name": "load_balancer_id",
            "in": "path",
            "description": "The ID of the load balancer to which servers should be added.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ServerIdsRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/load_balancers/${load_balancer_id}/servers\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "load-balancer server create"
      },
      "delete": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "Remove Servers from an Existing Load Balancer",
        "parameters": [
          {
            "name": "load_balancer_id",
            "in": "path",
            "description": "The ID of the load balancer for which servers should be removed.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ServerIdsRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X DELETE \"https://api.binarylane.com.au/v2/load_balancers/${load_balancer_id}/servers\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "load-balancer server delete"
      }
    },
    "/load_balancers/{load_balancer_id}/forwarding_rules": {
      "post": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "Add Forwarding Rules to an Existing Load Balancer",
        "parameters": [
          {
            "name": "load_balancer_id",
            "in": "path",
            "description": "The ID of the load balancer to which forwarding rules should be added.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ForwardingRulesRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/load_balancers/${load_balancer_id}/forwarding_rules\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "load-balancer rule create"
      },
      "delete": {
        "tags": [
          "LoadBalancers"
        ],
        "summary": "Remove Forwarding Rules from an Existing Load Balancer",
        "parameters": [
          {
            "name": "load_balancer_id",
            "in": "path",
            "description": "The ID of the load balancer for which forwarding rules should be removed.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ForwardingRulesRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X DELETE \"https://api.binarylane.com.au/v2/load_balancers/${load_balancer_id}/forwarding_rules\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "load-balancer rule delete"
      }
    },
    "/regions": {
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "List all Regions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionsResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/regions?page=${page}&per_page=${per_page}\"  \\"
          }
        ],
        "x-cli-command": "region list"
      }
    },
    "/reverse_names/ipv6": {
      "get": {
        "tags": [
          "ReverseNames"
        ],
        "summary": "Fetch all Existing IPv6 Name Server Records",
        "description": "IPv6 addresses within the allocated IPv6 floating range do not have PTR records under our default configuration.\nYou may provide resolution by delegating PTR lookups to your own nameservers.\nThese nameservers - and the floating range itself - are shared by all your servers; PTR lookups for addresses within your routed range will also be delegated.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseNameServersResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/reverse_names/ipv6?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "server ipv6-ptr-ns list"
      },
      "post": {
        "tags": [
          "ReverseNames"
        ],
        "summary": "Create New or Update Existing Global IPv6 Name Server Records",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ReverseNameserversRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X POST \"https://api.binarylane.com.au/v2/reverse_names/ipv6\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\"  \\\n-H \"Content-Type: application/json\" -d \"${PAYLOAD}\""
          }
        ],
        "x-cli-command": "server ipv6-ptr-ns update"
      }
    },
    "/samplesets/{server_id}/latest": {
      "get": {
        "tags": [
          "SampleSets"
        ],
        "summary": "Fetch the Latest Performance and Usage Data Sample Set for a Server",
        "description": "Returns the latest performance and usage sample set.",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "The target server id.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The target server id.",
              "format": "int64"
            }
          },
          {
            "name": "data_interval",
            "in": "query",
            "description": "\n| Value | Description |\n| ----- | ----------- |\n| five-minute | 5 Minutes |\n| half-hour | 30 Minutes |\n| four-hour | 4 Hours |\n| day | 1 Day |\n| week | 7 Days |\n| month | 1 Month |\n\n",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DataInterval"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleSetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/samplesets/${server_id}/latest?data_interval=${data_interval}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "server metrics get"
      }
    },
    "/samplesets/{server_id}": {
      "get": {
        "tags": [
          "SampleSets"
        ],
        "summary": "Fetch all of the Performance and Usage Data Sample Sets for a Server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "The target server id.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The target server id.",
              "format": "int64"
            }
          },
          {
            "name": "data_interval",
            "in": "query",
            "description": "\n| Value | Description |\n| ----- | ----------- |\n| five-minute | 5 Minutes |\n| half-hour | 30 Minutes |\n| four-hour | 4 Hours |\n| day | 1 Day |\n| week | 7 Days |\n| month | 1 Month |\n\n",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DataInterval"
                }
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start of the window of samples to retrieve, ISO8601 format (eg 2022-12-30T22:50:00Z). Defaults to 1 week before end for intervals larger than 5 minutes, or 1 day for 5 minute intervals.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "The start of the window of samples to retrieve, ISO8601 format (eg 2022-12-30T22:50:00Z). Defaults to 1 week or 1 day after start date depending on the selected data interval (or the current time if start is not provided). Can't be more than 1 year from start.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleSetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/samplesets/${server_id}?data_interval=${data_interval}&start=${start}&end=${end}&page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "server metrics list"
      }
    },
    "/servers/{server_id}/actions": {
      "get": {
        "tags": [
          "ServerActions"
        ],
        "summary": "List All Actions for a Server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "The ID of the server for which actions should be listed.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The selected page. Page numbering starts at 1",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "description": "The selected page. Page numbering starts at 1",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of results to show per page.",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "description": "The number of results to show per page.",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Curl",
            "source": "curl -X GET \"https://api.binarylane.com.au/v2/servers/${server_id}/actions?page=${page}&per_page=${per_page}\"  \\\n-H \"Authorization: Bearer ${APITOKEN}\""
          }
        ],
        "x-cli-command": "server action list"
      },
      "post": {
        "tags": [
          "ServerActions"
        ],
        "summary": "Perform an Action on a Server",
        "description": "Review the ServerAction schema for a list of available actions.\nReview the description in each individual schema for each type of server action for further information.\nFor actions that 'query' something (e.g. \"Ping\") fetch the completed action from the action endpoint for the response.",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "The ID of the server on which the action should be performed.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ServerAction"
                  }
                ],
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/AddDisk"
                  },
                  {
                    "$ref": "#/components/schemas/AttachBackup"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeAdvancedFeatures"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeAdvancedFirewallRules"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeBackupSchedule"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeIpv6"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeIpv6ReverseNameservers"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeKernel"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeManageOffsiteBackupCopies"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeNetwork"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeOffsiteBackupLocation"
                  },
                  {
                    "$ref": "#/components/schemas/ChangePartner"
                  },
                  {
                    "$ref": "#/components/schemas/ChangePortBlocking"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeReverseName"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeSeparatePrivateNetworkInterface"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeSourceAndDestinationCheck"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeThresholdAlerts"
                  },
                  {
                    "$ref": "#/components/schemas/ChangeVpcIpv4"
                  },
                  {
                    "$ref": "#/components/schemas/CloneUsingBackup"
                  },
                  {
                    "$ref": "#/components/schemas/DeleteDisk"
                  },
                  {
                    "$ref": "#/components/schemas/DetachBackup"
                  },
                  {
                    "$ref": "#/components/schemas/DisableBackups"
                  },
                  {
                    "$ref": "#/components/schemas/DisableSelinux"
                  },
                  {
                    "$ref": "#/components/schemas/EnableBackups"
                  },
                  {
                    "$ref": "#/components/schemas/EnableIpv6"
                  },
                  {
                    "$ref": "#/components/schemas/IsRunning"
                  },
                  {
                    "$ref": "#/components/schemas/PasswordReset"
                  },
                  {
                    "$ref": "#/components/schemas/Ping"
                  },
                  {
                    "$ref": "#/components/schemas/PowerCycle"
                  },
                  {
                    "$ref": "#/components/schemas/PowerOff"
                  },
                  {
                    "$ref": "#/components/schemas/PowerOn"
                  },
                  {
                    "$ref": "#/components/schemas/Reboot"
                  },
                  {
                    "$ref": "#/components/schemas/Rebuild"
                  },
                  {
                    "$ref": "#/components/schemas/Rename"
                  },
                  {
                    "$ref": "#/components/schemas/Resize"
                  },
                  {
                    "$ref": "#/components/schemas/ResizeDisk"
                  },
                  {
                    "$ref": "#/components/schemas/Restore"
                  },
                  {
                    "$ref": "#/components/schemas/Shutdown"
                  },
                  {
                    "$ref": "#/components/schemas/TakeBackup"
                  },
                  {
                    "$ref": "#/components/schemas/Uncancel"
                  },
                  {
                    "$ref": "#/components/schemas/Uptime"
                  }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "uptime": "#/components/schemas/Uptime",
                    "uncancel": "#/components/schemas/Uncancel",
                    "take_backup": "#/components/schemas/TakeBackup",
                    "shutdown": "#/components/schemas/Shutdown",
                    "restore": "#/components/schemas/Restore",
                    "resize_disk": "#/components/schemas/ResizeDisk",
                    "resize": "#/components/schemas/Resize",
                    "rename": "#/components/schemas/Rename",
                    "rebuild": "#/components/schemas/Rebuild",
                    "reboot": "#/components/schemas/Reboot",
                    "power_on": "#/components/schemas/PowerOn",
                    "power_off": "#/components/schemas/PowerOff",
                    "power_cycle": "#/components/schemas/PowerCycle",
                    "ping": "#/components/schemas/Ping",
                    "password_reset": "#/components/schemas/PasswordReset",
                    "is_running": "#/components/schemas/IsRunning",
                    "enable_ipv6": "#/components/schemas/EnableIpv6",
                    "enable_backups": "#/components/schemas/EnableBackups",
                    "disable_selinux": "#/components/schemas/DisableSelinux",
                    "disable_backups": "#/components/schemas/DisableBackups",
                    "detach_backup": "#/components/schemas/DetachBackup",
                    "delete_disk": "#/components/schemas/DeleteDisk",
                    "clone_using_backup": "#/components/schemas/CloneUsingBackup",
                    "change_vpc_ipv4": "#/components/schemas/ChangeVpcIpv4",
                    "change_threshold_alerts": "#/components/schemas/ChangeThresholdAlerts",
                    "change_source_and_destination_check": "#/components/schemas/ChangeSourceAndDestinationCheck",
                    "change_separate_private_network_interface": "#/components/schemas/ChangeSeparatePrivateNetworkInterface",
                    "change_reverse_name": "#/components/schemas/ChangeReverseName",
                    "change_port_blocking": "#/components/schemas/ChangePortBlocking",
                    "change_partner": "#/components/schemas/ChangePartner",
                    "change_offsite_backup_location": "#/components/schemas/ChangeOffsiteBackupLocation",
                    "change_network": "#/components/schemas/ChangeNetwork",
                    "change_manage_offsite_backup_copies": "#/components/schemas/ChangeManageOffsiteBackupCopies",
                    "change_kernel": "#/components/schemas/ChangeKernel",
                    "change_ipv6_reverse_nameservers": "#/components/schemas/ChangeIpv6ReverseNameservers",
                    "change_ipv6": "#/components/schemas/ChangeIpv6",
                    "change_backup_schedule": "#/components/schemas/ChangeBackupSchedule",
                    "change_advanced_firewall_rules": "#/components/schemas/ChangeAdvancedFirewallRules",
                    "change_advanced_features": "#/components/schemas/ChangeAdvancedFeatures",
                    "attach_backup": "#/components/schemas/AttachBackup",
                    "add_disk": "#/components/schemas/AddDisk"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
[...]
